button{
    margin: 0 !important;

}

.classLvl0{
    background-color: crimson !important;
}
.classLvl1{
    background-color: green !important;
    margin-left: 30px;
}

.classLvl2{
    background-color: rebeccapurple !important;
    margin-left: 60px;
}

.classLvl3 {
    background-color: blue !important;
    margin-left: 90px;
}

.form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}